*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.header h1{
    font-size: 22px;
    color: #474545;
}

.logo{
    width: 48px;
    height: auto;
}

.main{
    padding: 10px;    
    max-width: 360px;
    margin: 0 auto 80px auto;      
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.card{
    border: 1px solid #e5e5e5;
    padding: 15px;
    background: linear-gradient(145deg, #eeeeee, #f8f8f8);
    border-radius: 8px;
    box-shadow:  5px 5px 14px #cacaca, -5px -5px 14px #f6f6f6;
    margin-bottom: 15px;
    width: 100%;
}

.card__footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    display: block;    
    background-color: #613942;
    color: #fff;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 5px #ccc;
    margin: 10px 0 5px 0;
}

.filter{
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #E2BAB3;    
    width: 60px;
    height: 60px;   
    border: 2px solid #daa9a0;     
    border-radius: 100px;
    box-shadow: 0 0 10px #c78377;
    font-weight: 700;    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filters{
    position: fixed;
    bottom: 15px;
    right: 90px;    
    width: 170px;
    background-color: #613942;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #202020;
    transition: all .25s;
    max-width: 360px;    
}

.filters p{
    margin: 15px 0;
    text-align: center;
    cursor: pointer;
}

.hide{
    bottom: -300px;
}