*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.header h1{
    font-size: 22px;
    color: #474545;
}

.logo{
    width: 48px;
    height: auto;
}

.main{
    padding: 10px;    
    max-width: 460px;
    margin: 0 auto 80px auto;      
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #fffcf5;   
}

.card{
    position: relative;
    border: 1px solid #ffffff;
    padding: 30px 15px 15px 15px;
    background: linear-gradient(145deg, #fff7eb, #ffffff);    
    box-shadow:  5px 5px 14px #cacaca, -5px -5px 14px #f6f6f6;
    margin-bottom: 25px;
    width: 100%;
}

.card span{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #c78377;
    color: #ffffff;
    padding: 1px 7px;
    font-size: 12px;
}

.card p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 24px;
}

.card__footer{    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    margin-top: 15px;
    border-top: 1px solid #c78377;
}

.btn{
    display: block;    
    background-color: #613942;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 25px;
    border: none;    
    box-shadow: 1px 1px 5px #4d4d4d; 
    text-transform: uppercase;   
}

.filter{
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #fde7e3;    
    width: 60px;
    height: 60px;   
    border: 2px solid #daa9a0;     
    border-radius: 100px;
    box-shadow: 0 0 10px #c78377;
    font-weight: 700;    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filters{
    position: fixed;
    bottom: 15px;
    right: 90px;    
    width: 170px;
    background-color: #613942;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #202020;
    transition: all .25s;
    max-width: 360px;    
}

.filters p{
    margin: 15px 0;
    text-align: center;
    cursor: pointer;
}

.hide{
    bottom: -300px;
}